section {
    margin: 45 0 0 120;
}

video {
    width: 600px;
    height: 400px;
}

article > p {
    text-decoration: underline;
    margin-bottom: 0px;
}

article {
    background-color: azure
}

article:hover{
    background-color: skyblue;
}

body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#layout-in {
    width: 230px;
    border: solid 5px gray;
    margin: 20px;
    padding: 10px;
}

#layout-out{
    background-color: antiquewhite;
}
