section {
    margin: 45 0 0 120;
}

video {
    width: 600px;
    height: 400px;
}

nav {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

article > p {
    text-decoration: underline;
    margin-bottom: 0px;
}

article {
    background-color: azure;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

article:hover{
    background-color: skyblue;
}


#layout-in {
    width: 230px;
    border: solid 5px gray;
    margin: 20px;
    padding: 10px;
}

#layout-out{
    background-color: antiquewhite;
}

#msg{
    overflow: hidden;
}

#msg:hover {
    overflow: visible;
}

.flex-container{
    display: flex;
    flex-direction: column-reverse;
}

#div1, #div2, #div3{
    width: 50px;
    height: 50px;
}

#smoothdiv{
    width: 300px;
    height: 106px;
    background:lightgray;
    transition: width .3;
}

#smoothdiv:hover{
    border: solid 3px blue;
    width: 400px;
    height: 100px;
}